body {
  background-color: var(--bg);
  color: var(--text-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  --bg: #061f2f;
  --text-color: white;
}

:root {
  --bg: white;
  --text-color: black;
}
